/* Initial Calling global fonts */
*{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}
/* header */
.nav-menu{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    align-items: center;
    padding: 35px 0;
}
.nav-logo{}
.nav-logo h4{
    font-size: 24px;
    text-transform:uppercase;
}
.nav-list ul {
    display: flex;
    justify-content:space-between;
}
.nav-list ul li{
    list-style: none;
    margin-right: 10px;

}
.nav-list ul li a{
    text-decoration: none;
    color: black;
    border: 1px solid #E55473;
    padding: 14px 30px ;
}
.nav-list ul li a:hover{
    color: #E55473;
}
.nav-list ul li .btns{
    border: 1px solid #E55473;
    background-color: #E55473;
    color: white;
    padding: 14px 30px ;
}
.nav-list ul li .btns:hover{
    border: 1px solid #e554738e;
    background-color: #e554738e;
    color: #fff;
    padding: 14px 30px ;
}
/* header ends */
.container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0 200px;
    align-items: center;
    height: 600px;
    justify-content: space-between;
    padding-top: 20px;
    /* width: 1100px; */
}
.container .text-container{
    width: 50%;
}
.container .text-container h1{
    color: #272727;
    font-family: lato;
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 25px;
    
}
.container .text-container p{
    color: rgba(39, 39, 39, 0.60);
    font-family: lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.container .text-container a{
    text-decoration: none;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    font-family: lato;
    color: white;
    border: 1px solid #E55473;
}
.container .text-container a:hover{
    color: #E55473;
    border: 1px solid #E55473;
    background: white;
}
.container .image-container{
    width: 50%;
}
.container .image-container img{
    height: 600px;
    float: right;
    
}


/* Our Featured Flowers starts */
.feats{
    margin: 130px 0;
    /* width: 1200px; */
}
.featured-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.featured-para{

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.featured-container{
    display: flex;
    justify-content:space-around;
    width: 1050px;
    margin: auto;
    
}

.featured-container .featured-box{
   /* width: 33.33%; */
   text-align: center;
}
.featured-box img{
    height: 280px;
    justify-content: center;
}
 .img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px;
    padding-bottom: 0px;
    
 }
 .img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 20px;
    padding-bottom: 0px;
    
 }
 .img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px;
    padding-bottom: 0px;
 }

.featured-box h5{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* Our Featured Flowers ends */

/* box css s */
.box-card{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 1000px;
    padding: 80px 30px;
    margin-bottom: 100px;
}
.box-card .box-col-3{
    text-align: center;
}
.box-card .box-col-3 img{
    height: 60px;
    border: 1px solid rgba(39, 39, 39, 0.05);;
}
.box-card .box-col-3 img:hover{
    height: 60px;
    border: 1px solid rgba(39, 39, 39, 0.05);;
}
.box-card .box-col-3 h5{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
/* box css e */

/* promotion section s */
.promotion-sec{
    padding: 0px;
}
.promotion-sec .pro-cent{
    text-align: center;
}
.promotion-sec .pro-cent h1{
    color: #272727;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.promotion-sec .pro-cent .prom-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.promotion-sec .pro-cent .pro-img{
    margin-right: 150px;
}
.promotion-sec .pro-cent .pro-img img{
    height: 350px;
    

}

/* promotion section e*/

/* instagram css s */
.featured-title{
    margin-top: 130px;
}
.instagram-container{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: auto;
    gap: 20px;
}
.instagram-container .box-col-4{

}
.instagram-container .box-col-4 img{
    height: 300px;
}
/* instagram css e */


/* deals */

.deals{
   
}
.deal-bg{
    background-image: url("/Flower/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1100px;
    margin: 100px auto;
    height: 200px 100px;
    padding: 50px 0;
    

}
.deals .center{
    text-align: center;
}
.deals .center .btn-lv{
    padding: 22px 20px;
    border-radius: 8px;
    border: 1px solid #E55473;
    
    /* width: 120px; */
}
.deals .center .btn{
    
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    font-family: lato;
    color: white;
    border: 1px solid #E55473;
}
.deals .center .btn:hover{
    color: #E55473;
    border: 1px solid #E55473;
    background: white;
}
.deal-bg h3{
    margin-top: 50px;
}
/* ABOUT SECTION (CREATIVE PART) */
.about{
    background-color: #0597A026;
}
.text-about{
    text-align: right;
}
.img-about{
    margin-right: 100px;
}
/* Footer */
.footer-bg{
    background-color: black;
    margin: auto;
    text-align: center;
    padding: 120px 0;
    color: white;
}
.footer-container h3{
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-container p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-container .copy-r{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
}